<div class="container">
    <h1 class="mb-4">Servidor</h1>

    <div class="card mb-3" style="max-width: 600px; ">
        <div class="row g-0">
            <div class="col-md-4 align-self-center">
                <img style="max-width: 100%;max-height: 100%;" src="assets/imgs/ionos.png" alt="...">
            </div>
            <div class="col-md-8 align-self-center">
                <div class="card-body">
                    <a class="card-title link-dark fs-4 fw-bold" href="https://www.ionos.mx/" target="_blank">Ionos</a>
                    <p class="card-text">Es una empresa de alojamiento web. Fue fundada en Alemania en 1988 y actualmente es propiedad de United Internet.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 600px; height: fit-content;">
        <div class="row g-0">
            <div class="col-md-4 align-self-center">
                <img style="max-width: 100%;" src="assets/imgs/heroku.png" alt="...">
            </div>
            <div class="col-md-8 align-self-center">
                <div class="card-body">
                    <a class="card-title link-dark fs-4 fw-bold" href="https://www.heroku.com/" target="_blank">Heroku</a>
                    <p class="card-text">Heroku es una plataforma como servicio de computación en la Nube que soporta distintos lenguajes de programación.</p>
                </div>
            </div>
        </div>


    </div>
</div>