


<div class="card mb-3" style="max-width: 720px; ">
    <div class="row g-0">
      <div class="col-md-4">
        <img style= "max-width: 100%;
        max-height: 100%;"src="assets/imgs/ionos.png" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ionos</h5>
          <p class="card-text">Es una empresa de alojamiento web. Fue fundada en Alemania en 1988 y actualmente es propiedad de United Internet.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>





  <div class="card mb-3" style="max-width: 720px; height: fit-content;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style= "max-width: 100%;"src="assets/imgs/heroku.png" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Heroku</h5>
          <p class="card-text">Heroku es una plataforma como servicio de computación en la Nube que soporta distintos lenguajes de programación.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  

</div>



