<div class="container">
    <h1 class="mb-4">Código</h1>
    <!-- row -->
    <div class="row justify-content-start">
        <!-- card -->
        <div class="card mb-3" style="max-width: 600px;">
            <div class="row g-0">
                <div class="col-md-4 align-self-center">
                    <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/github.png" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="card-title link-dark fs-4 fw-bold" href="https://github.com" target="_blank">GitHub</a>
                        <p class="card-text">GitHub es una forja para alojar proyectos utilizando el sistema de control de versiones Git. Se utiliza principalmente para la creación de código fuente de programas de ordenador. El software que opera GitHub fue escrito en Ruby
                            on Rails. Desde enero de 2010, GitHub opera bajo el nombre de GitHub, Inc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row justify-content-start">
        <!-- card -->
        <div class="col-12 col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                    Links de los repositorios
                </div>
                <div class="card-body">
                    <a href="https://github.com/kevinJPerezD/proyecto-chat.git" target="_blank">Proyecto Chat</a><br>
                    <a href="https://github.com/kevinJPerezD/proyecto-chat-backend.git" target="_blank">BackEnd</a>
                </div>
                <div class="card-footer">
                    <p class="text-muted mb-0">
                        Para poder acceder a los reposotorios ocupan mandar petición
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>