<div class="container">
    <h1 class="mb-4">Tecnologias</h1>
    <div class="row justify-content-center">
        <!-- col-6 -->
        <div class="col-12 col-lg-6">
            <!-- card -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4 align-self-center">
                        <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/angular.png" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-title link-dark fs-4 fw-bold" href="https://angular.io/" target="_blank">Angular</a>
                            <p class="card-text">Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4 align-self-center">
                        <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/bootstrap.jpg" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-title link-dark fs-4 fw-bold" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                            <p class="card-text">Bootstrap es una biblioteca multiplataforma o conjunto de herramientas de código abierto para diseño de sitios y aplicaciones web.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- card -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4 align-self-center">
                        <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/jquery.png" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-title link-dark fs-4 fw-bold" href="https://jquery.com/" target="_blank">JQuery</a>
                            <p class="card-text">es una biblioteca multiplataforma de JavaScript, creada inicialmente por John Resig, que permite simplificar la manera de interactuar con los documentos HTML, manipular el árbol DOM, manejar eventos, desarrollar animaciones
                                y agregar interacción con la técnica AJAX a páginas web.​</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- col-6 -->
        <div class="col-12 col-lg-6">
            <!-- card -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4 align-self-center">
                        <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/nodejs.png" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-title link-dark fs-4 fw-bold" href="https://nodejs.org/en/" target="_blank">Node.js</a>
                            <p class="card-text">Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos
                                y basado en el motor V8 de Google.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4 align-self-center">
                        <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/socketio.png" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-title link-dark fs-4 fw-bold" href="https://socket.io/" target="_blank">Socket.io</a>
                            <p class="card-text">es una biblioteca de JavaScript para aplicaciones web en tiempo real. Permite la comunicación bidireccional en tiempo real entre clientes y servidores web. Tiene dos partes: una biblioteca del lado del cliente que se ejecuta
                                en el navegador y una biblioteca del lado del servidor para Node.js.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4 align-self-center">
                        <img style="max-width: 100%; max-height: 100%;" src="assets/imgs/express.png" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-title link-dark fs-4 fw-bold" href="https://expressjs.com/" target="_blank">Express</a>
                            <p class="card-text">Es un marco de aplicación web de back-end para Node.js, lanzado como software gratuito y de código abierto bajo la licencia MIT. Está diseñado para crear aplicaciones web y API. Se le ha llamado el marco de servidor estándar
                                de facto para Node.js.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>