

<div class="card mb-3" style="max-width: 720px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style= "max-width: 100%;
      max-height: 100%;" src="assets/imgs/angular.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">Angular es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 720px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style= "max-width: 100%;
      max-height: 100%;"src="assets/imgs/bootstrap.jpg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bootstrap</h5>
        <p class="card-text">Bootstrap es una biblioteca multiplataforma o conjunto de herramientas de código abierto para diseño de sitios y aplicaciones web.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 720px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style= "max-width: 100%;
      max-height: 100%;"src="assets/imgs/nodejs.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Node.js</h5>
        <p class="card-text">Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>