<div class="container">
    <h1 class="mb-4">Locmer</h1>
    <div class="row justify-content-center">
        <h3 class=" mb-4 ">Descripcion del problema</h3>
        <p>Hicimos este proyecto con la intencion de crear un chat que sea mas privado que otros, ya que no pide al usuario datos personales como correo o numero de telefono para poder usar <a href="http://locmer.com/ " target="_blank ">Locmer</a> chat,
            solamente un nombre de usuario para identificarse en la conversacion, aunque tambien se puede acceder con un nombre de usuario anonimo para aún mas privacidad</p>

        <h3 class="mb-4 ">Audiencia a la que va dirigida</h3>
        <p>Nuestro chat está orientado a aquellas personas que se preocupen por su privacidad, permitiendo interactuar solo con las personas a las que se les hayan sido compartido el código de acceso. Ademas de esto, los mensajes no se guardan en servidor,
            aumentando aún más la privacidad de las conversaciones</p>
        <p>Para consultar el diseño de interfaz de nuestra web-app puedes consultar el siguiente link <a href="http://locmer.com/ " target="_blank ">Diseño de interfaz</a> en el apartado de "acerca de "</p>
        <img style="width: 800px; " src="assets/imgs/diseno.jpeg " alt="Cargando... " class="border shadow-sm my-3">

        <p>En esta pagina estaremos incluyendo las cosas que necesitamos para la elaboracion de este proyecto, desde los lenguajes que usamos para el codigo y diseño, hasta las tecnologias que utilizamos para el servidor</p>
    </div>

    <div class="row justify-content-around mt-4 ">
        <!-- columna -->
        <div class="col-12 col-lg-4 mb-4 ">
            <div class="card bg-dark text-white " style="height: 480px; ">
                <h5 class="card-header text-center ">
                    <A HREF="codigo "> Codigo</A>
                </h5>
                <img style=" height: 300px; " src="https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif " class="img-fluid " alt="Cargando imagen... ">
                <div class="card-body text-center ">En este apartado, incluiremos el codigo de nuestro proytecto llamado
                    <A HREF="http://locmer.com/ ">Locmer</A> para que la gente que desee reviar el codigo pueda hacerlo, esto con la intencion de dar a conocer las entrañas de nuestra web-app y, si gustan, tambien estamos abiertos a sugerencias sobre nuestro código.</div>
            </div>
        </div>
        <!-- columna -->
        <div class="col-12 col-lg-4 mb-4 ">
            <div class="card bg-dark text-white " style="height: 480px; ">
                <h5 class="card-header text-center ">
                    <A HREF="servidor "> Servidor</A>
                </h5>
                <img style="height: 300px; " src="https://media.giphy.com/media/Wt67TflOnf5WZStYcK/giphy.gif " class="img-fluid " alt="Cargando imagen... ">
                <div class="card-body text-center ">Aqui incluimos una breve explicacion de lo que utilizamos para el servidor de nuestro proyecto, como lo es
                    <A HREF="https://www.ionos.mx "> Ionos</A> para el dominio de la pagina y
                    <A HREF="https://www.heroku.com/ "> Heroku</A>, que es un servicio de servidor donde se almacenan los datos de nuestra web-app</div>
            </div>
        </div>
        <!-- columna -->
        <div class="col-12 col-lg-4 mb-4 ">
            <div class="card bg-dark text-white " style="height: 480px; ">
                <h5 class="card-header text-center "><a href="tecnologias "> Tecnologias</a></h5>
                <img style="height: 300px; " src="https://media.giphy.com/media/2UBzCJfJl76q6XVpN1/giphy.gif " class="img-fluid " alt="Cargando imagen... ">
                <div class="card-body text-center ">En este primer apartado, incluimos informacion referente a las herramientas que se nececitaron, las cuales son
                    <A HREF="https://getbootstrap.com/ "> Bootstrap,</A>
                    <A HREF="https://angular.io// "> Angular,</A>
                    <A HREF="https://nodejs.org/en/ "> Node.js,</A> y
                    <A HREF="https://expressjs.com/ ">Express</A>
                </div>
            </div>
        </div>
    </div>
</div>