
<h1>En esta pagina estaremos incluyendo las cosas que necesitamos para la elaboracion de este proyecto, desde los lenguajes que usamos para el codigo y diseño, hasta las tecnologias que utilizamos para el servidor</h1>
<p><br> En la barra de navegacion que se encuentra en la parte de arriba, incluimos 4 apartados, de los cuales 3 son referentes al proyecto y el 4to son simples datos de los integrantes del equipo.</p>
<p><br><a routerLink="/tecnologias"> Tecnologias</a></p>



 
 
  
    <div style="width: 500px; align-items: center;" class="card bg-dark text-white">
        <h5 style="text-align: center" class="card-header"><a routerLink="/tecnologias"> Tecnologias</a></h5>
        <img style= "width: 300px; height: 150px;" src="assets/imgs/tech.gif" class="card-img" alt="...">
        <div class="card-img-overlay"> 
        </div>
        <div  style ="text-align: justify;" class = "card-body">El primer apartado es el de , en el cual incluimos informacion referente a las herramientas que 
        se nececitaron, las cuales son <A HREF="https://getbootstrap.com/"> Bootstrap,</A><A HREF="https://angular.io//"> Angular,</A><A HREF="https://nodejs.org/en/"> Node.js,</A> y <A HREF="https://expressjs.com/">Express</A></div>
      </div>

  <div style="width: 500px; align-items: center;" class="card bg-dark text-white">
    <h5 style="text-align: center" class="card-header"><A HREF="codigo"> Codigo</A></h5>
    <img style= "width: 300px; height: 150px;" src="assets/imgs/coding.gif" class="card-img" alt="...">
    <div class="card-img-overlay"> 
    </div>
    <div  style ="text-align: justify;" class = "card-body">En este apartado, incluiremos el codigo de nuestro proytecto llamado <A HREF="http://locmer.com/">Locmer</A> para que la gente que desee reviar el codigo
        pueda hacerlo, esto con la intencion de dar a conocer las entrañas de nuestra web-app y, si gustan, tambien estamos abiertos a sugerencias sobre nuestro código.</div>
  </div>

